// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trips>.trip.row-fluid:nth-of-type(odd) {
  background-color: #E9E9EA
}

.trip.row-fluid {
  margin: 10px -13px; 
  padding: 5px 13px; 
  border: 1px solid #09090E; 
}

 input {
  width: 300px;
 }
